visit-management-v5/main/default/flows/Visit_Management_V5_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Visit_Flow_Context</name>
        <label>Get Visit Flow Context</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>VisitFlowContextAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Record_Type_Access</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VisitFlowContextAction</nameSegment>
        <outputParameters>
            <assignToReference>accountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountName</assignToReference>
            <name>accountName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountOwnerId</assignToReference>
            <name>accountOwnerId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountOwnerName</assignToReference>
            <name>accountOwnerName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountTeamUserIds</assignToReference>
            <name>accountTeamUserIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountTeamSummary</assignToReference>
            <name>accountTeamSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>availableRecordTypeIds</assignToReference>
            <name>availableRecordTypeIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>defaultRecordTypeId</assignToReference>
            <name>defaultRecordTypeId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasVisitRecordTypes</assignToReference>
            <name>hasVisitRecordTypes</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>contextErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Visit</name>
        <label>Create Visit</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>VisitFlowSaveAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>selectedRecordTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>placeId</name>
            <value>
                <elementReference>placeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plannedVisitStartTime</name>
            <value>
                <elementReference>plannedVisitStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plannedVisitEndTime</name>
            <value>
                <elementReference>plannedVisitEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusRemarks</name>
            <value>
                <elementReference>statusRemarks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instructionDescription</name>
            <value>
                <elementReference>instructionDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountTeamVisitorIds</name>
            <value>
                <elementReference>selectedAccountTeamVisitorIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>additionalVisitorIds</name>
            <value>
                <elementReference>selectedAdditionalVisitorIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitedContactIds</name>
            <value>
                <elementReference>selectedVisitedContactIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VisitFlowSaveAction</nameSegment>
        <outputParameters>
            <assignToReference>createdVisitId</assignToReference>
            <name>visitId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>createdVisitUrl</assignToReference>
            <name>visitUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>saveMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <description>Screen Flow version of the V5 Automotive Cloud Visit wizard. Creates a Visit, Visitors, and Visited Parties from an Account record action.</description>
    <dynamicChoiceSets>
        <name>AccountContactChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountTeamUserChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountTeamUserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ActiveUserChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VisitRecordTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>availableRecordTypeIds</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Visit V5 Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Visit V5 Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <decisions>
        <name>Check_Record_Type_Access</name>
        <label>Check Record Type Access</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Types</defaultConnectorLabel>
        <rules>
            <name>Has_Record_Types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasVisitRecordTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Record_Type</targetReference>
            </connector>
            <label>Has Record Types</label>
        </rules>
    </decisions>
    <screens>
        <name>Select_Record_Type</name>
        <label>Select Record Type</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Visit_Details</targetReference>
        </connector>
        <fields>
            <name>RecordTypeIntro</name>
            <fieldText>&lt;p&gt;Select the Visit record type for this visit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedRecordTypeId</name>
            <choiceReferences>VisitRecordTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultRecordTypeId</elementReference>
            </defaultValue>
            <fieldText>Visit Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visit_Details</name>
        <label>Visit Details</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Visitors</targetReference>
        </connector>
        <fields>
            <name>AccountDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account:&lt;/b&gt; {!accountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>placeId</name>
            <choiceReferences>LocationChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Place</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>plannedVisitStartTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Planned Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>plannedVisitEndTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Planned End Time</fieldText>
            <fieldType>InputField</fieldType>
        </fields>
        <fields>
            <name>statusRemarks</name>
            <fieldText>Status Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
        </fields>
        <fields>
            <name>instructionDescription</name>
            <fieldText>Special Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visitors</name>
        <label>Visitors</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Visited_Parties</targetReference>
        </connector>
        <fields>
            <name>VisitorSummary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account owner is included automatically and cannot be removed:&lt;/b&gt; {!accountOwnerName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Active Account Team users:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!accountTeamSummary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedAccountTeamVisitorIds</name>
            <choiceReferences>AccountTeamUserChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Team Visitors</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
        </fields>
        <fields>
            <name>selectedAdditionalVisitorIds</name>
            <choiceReferences>ActiveUserChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Additional Active Users</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visited_Parties</name>
        <label>Visited Parties</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Visit</targetReference>
        </connector>
        <fields>
            <name>VisitedPartyIntro</name>
            <fieldText>&lt;p&gt;Select one or more contacts from {!accountName}. Duplicate contacts are prevented by this selection list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedVisitedContactIds</name>
            <choiceReferences>AccountContactChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Visited Parties</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Record_Types</name>
        <label>No Visit Record Types</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRecordTypesMessage</name>
            <fieldText>&lt;p&gt;{!contextErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Visit Created</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;{!saveMessage}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!createdVisitUrl}&quot;&gt;Open created Visit&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Error</name>
        <label>Visit Flow Error</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit_Flow_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountTeamSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountTeamUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>availableRecordTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contextErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdVisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdVisitUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasVisitRecordTypes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saveMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
